<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid p-2">
      <a class="navbar-brand px-5" href="#">Manajer Ruangan {{ admin_name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse px-3" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/gedungadmin">Ruangan</a></li>
              <li class="nav-item"><a class="nav-link" href="/tambah_ruang">Tambah Ruangan</a></li>
              <li class="nav-item"><a class="nav-link" href="/hapus_ruang">Hapus Ruangan</a></li>
          </ul>
      </div>
  </div>
</nav>
